<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
<div style="margin-top: 200px;" class="ui container">
    <h1 class="ui center aligned header" style="font-size:45px">LOG IN HERE</h1>
    <form class="ui form">
        <label style="font-size:20px">Email</label>
        <input type="text"><br><br>
        <label style="font-size:20px" >Password</label>
        <input type="password"><br><br>

        <button type="submit" class="ui blue button" >Log In</button>

    </form>
</div>
</body>
</html>